<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta charset="UTF-8">
    <title>База знаний</title>
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="margin: 0">
    {% csrf_token %}
    <div id="app"></div>
    <script type="module" src="{% static 'main_v1.1.0.js' %}"></script>
</body>
</html>