DJANGO_SECRET_KEY=
CSRF_TRUSTED_ORIGINS=
DJANGO_DEBUG=0
REDIS_CACHE_URL=redis://redis:6379/0
ELASTICSEARCH_HOSTS=elasticsearch:9200
JWT_SECRET_KEY=
NOTE_INDEX_NAME=notes
VECTORIZE_URL=http://vect:8000