<!DOCTYPE html>
{% load static %}
<html lang="ru">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
{#    <link rel="stylesheet" href="{% static "css/buttons.css" %}" />#}
    <link rel="stylesheet" href="{% static "css/login.css" %}" />
    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>
&nbsp;
<body>
    <div class="center_" style="background-color: white; min-height: 100%; padding-top: 20px">
    {% block content %}

    {% if form.errors %}
      <p id="errors">Неверный логин или пароль!</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p id="errors">Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p> </p>
      {% endif %}
    {% endif %}

    {# Картинка кота #}
    <div class="center_" style="margin-bottom: 40px">
        {% if form.errors %}
          <img id="angry_cat" src="/static/images/cat_angry.gif" alt="cat" onclick="show_nice_cat()">
          <img id="nice_cat" src="/static/images/cat7.gif" height="250px" width="250px" alt="cat" style="display: none">
        {% else %}
        <img src="/static/images/cat7.gif" height="250px" width="250px" alt="cat">
        {% endif %}
    </div>




    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>

    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>

    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
    </table>

    <div style="display: none">
        <input class="atuin-btn" type="submit" value="Войти" />
        <input class="atuin-btn center_" type="hidden" name="next" value="{{ next }}" />
    </div>

    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a class="no_decoration center_" href="{% url 'password_reset' %}">Забыли пароль?</a></p>

    {% endblock %}
    </div>
</body>
<script>
    function show_nice_cat(){
        $('#angry_cat').css('display', 'none')
        $('#nice_cat').css('display', 'inline')
    }
</script>
</html>