<!DOCTYPE html>
{% load static %}
<html lang="ru">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <link rel="stylesheet" href="{% static "css/buttons.css" %}" />
</head>
&nbsp;
<body>
    <div class="center_" style="background-color: white; min-height: 100%; padding-top: 20px">
    {% block content %}

    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table class="center_">

    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>

    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
    </table>

    <div class="center_">
        <input class="atuin-btn" type="submit" value="Войти" />
        <input class="atuin-btn center_" type="hidden" name="next" value="{{ next }}" />
    </div>

    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a class="no_decoration center_" href="{% url 'password_reset' %}">Забыли пароль?</a></p>

    {% endblock %}
    </div>
</body>
</html>