<!DOCTYPE html>
{% load static %}
<html lang="ru">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<head>
    <meta charset="UTF-8">
    <title>LOGOUT</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <link rel="stylesheet" href="{% static "css/buttons.css" %}" />
    <link rel="stylesheet" href="{% static "css/login.css" %}" />
    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>
&nbsp;
<body>
    <div class="center_" style="background-color: white; min-height: 100%; padding-top: 20px">

    <div><h1>Вы уверены, что хотите выйти?</h1></div>
    {# Картинка кота #}
    </div>

    <div style="margin-top: 50px; display: flex; text-align: center; justify-content: center;">
        <div style="margin: 50px">
          <a href="{% url 'logout' %}">
              <input id="y" class="arrow-btn atuin-btn" style="color: white; text-align: center" value="да">
          </a>
        </div>
        <div style="margin: 50px">
          <a href="/">
              <input id="n" class="arrow-btn atuin-btn" style="color: white; text-align: center" value="нет">
          </a>
        </div>
    </div>
    <div style="margin-top: 50px; display: flex; text-align: center; justify-content: center;">
          <div style="margin: 50px">
              <img id="cry" src="/static/images/cat_cry.gif" style="display: none">
          </div>
          <div style="margin: 50px">
              <img id="love" src="/static/images/cat_kiss.gif" style="display: none">
          </div>
    </div>


</body>
<script>
$(function (){
    $('#y').hover(function (){
        $('#cry').css('display', 'block')
        $('#love').css('display', 'none')
    })
    $('#n').hover(function (){
        $('#love').css('display', 'block')
        $('#cry').css('display', 'none')
    })
})
</script>
</html>