{% extends 'books/base.html' %}
{% load humanize %}
{% block title %} {{ book.title }} {% endblock %}

{% block content %}
<div class="mb-2" style="text-align: left; padding: 20px">
  <div class="row no-gutters">
    <div class="col-md-5">
      <a href="{% url 'book-show' book.id %}" target="_blank">
          <img style="max-width: 100%; object-fit: fill" class="show-preview" src="/media/books/{{ book.id }}/preview.png">
      </a>
    </div>
    <div class="col-md-7">
      <div class="card-body">

        <ul class="list-group ">

            {# Кнопки изменить и удалить #}
            {% if user.is_superuser %}
              <li class="list-group-item" style="text-align: right">
                  <a href="{% url 'book-edit' book.id %}"
                     class="badge bg-primary text-decoration-none text-light"
                     style="padding: 6px">
                      Изменить
                  </a>
                  <button type="button" class="badge bg-danger" data-bs-toggle="modal"
                          data-bs-target="#deleteModal" style="padding: 6px; border: none">
                      Удалить
                  </button>
              </li>
            {% endif %}

            {# Название книги #}
            <li class="list-group-item active">{{ book.title }}{% if book.year %} ({{ book.year }} г.){% endif %}</li>

            {# Автор #}
            <li class="list-group-item">{% if book.author %}{{ book.author }}{% else %}
                <small class="text-muted">Автор не указан</small>{% endif %}</li>
        </ul>
        <br>
        {# Описание #}
        <p class="card-text">{{ book.about | linebreaks }}</p>
        <br>

        <p class="card-text"><small class="text-muted">Последнее изменение {{ book.published_at | naturaltime }}</small></p>

      </div>
    </div>
  </div>
</div>

{#    Окно удаления    #}
{% if user.is_superuser %}
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Внимание!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Вы уверены, что хотите удалить эту книгу?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form name="delete_form" action="{% url 'book-delete' book.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}