#id_password, #id_username {
    outline: 0;
    font-size: 22px;
    text-align: left;
    width: 200px;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #F58262;
}

label {
    font-size: 16px;
}

table {
    text-align: center;
    display: block;
    margin: auto;
    width: 50%;
    /*margin: 50px;*/
}

tr:focus {
    background: white;
}

#errors {
    padding: 20px;
    background: #aa6262;
    color: white;
    border-radius: 20px;
}