.d1 {background: #ffffff;}
.d1 input {
  width: 50%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #F58262;
  border-radius: 5px;
  outline: none;
  background: #F7F7F2;
  color: #000000;
}
.d1 button {
  /*position: absolute;*/
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #F58262;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}
.d1 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}