* {
    box-sizing: border-box;
    margin: 0;
}
body {
    color: #606060;
    font-size: 14px;
}
.container {
    margin: 50px;
    padding: 0 15px;
    background: white;
}
.post-image img {
    width: 100%;
    margin: 0 0 20px 0;
}
.post h1 {
    color: #222;
    font-weight: 600;
    margin-bottom: 30px;
}
.post-meta {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}
time,
.tags {
    padding-right: 26px;
    position: relative;
}
time:after,
.tags:after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #666;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
p {
    line-height: 1.5;
    margin-bottom: 1em;
}
@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
    .container {
        padding: 0 45px;
    }
    .post-image img {
        float: right;
        width: 300px;
        margin: 0 0 20px 20px;
    }
    .post-header {
        padding-left: 26px;
        border-left: 4px solid #F58262;
        margin-left: -30px;
    }
}