.post-image img {
    width: 100%;
    margin: 0 0 20px 0;
}
.post {
    padding: 0 50px;
}
#post-content {
    font-family: 'Teams', sans-serif;
    padding-bottom: 40px
}
.post h1 {
    font-weight: 600;
    margin-bottom: 30px;
}
.post-meta {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}
time, .tags {
    padding-right: 26px;
    position: relative;
}
time:after, .tags:after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

@media only screen and (min-width: 400px) {
    body {
        font-size: 16px;
    }

    .container {
        padding: 0 45px;
    }

    .post-header {
        padding-left: 26px;
        border-left: 4px solid #F58262;
        margin-left: -30px;
    }

    .post {
        padding: 0;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }
}