html{
    height: 100%;
}

body{
    font-family: 'Teams', sans-serif;
    height: 95%;
    background-color: #ffffff;
}

h1{
    color: #000000;
}

.center_
{
    text-align: center;
    display: block;
    margin: auto;
    width: 50%;
}

.font20{
    font-size: 20px;
}

a {
    text-decoration: none;
}


table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 14px;
    background: white;
    border-collapse: collapse;
    text-align: center;
    border-spacing: 0;
}
th {
    font-weight: normal;
    color: #000000;
    border-bottom: 1px solid #000000;
    padding: 10px 8px;
}
td {
    color: #242424;
    padding: 9px 8px;
    transition: .3s linear;
}
tr:hover td {
    background-color: #ececec;
}


text {
  border-radius:10px;
  border: 1px solid #eee;
  transition: .3s border-color;
}
text:hover {
  border: 1px solid #aaa;
}


.first {
    cursor: pointer;
    /*font-family: 'Ubuntu Condensed', sans-serif;*/
    font-family: 'Teams', sans-serif;
    text-indent: 22px;
    line-height: 33px;
    border: 1px solid #000000;
    background: #afc1ff;
    font-size: 18px;
}

.first_blue {
    /*font-family: 'Ubuntu Condensed', sans-serif;*/
    font-family: 'Teams', sans-serif;
    cursor: pointer;
    background: #ffffff;
    font-size: 18px;
    color: #000000;
    text-indent: 22px;
    line-height: 33px;
    border: 1PX SOLID #b7b7b7;
}

.show-button {
    font-family: 'Ubuntu Condensed', sans-serif;
    width: 20px;
    height: 20px;
}