.main_input_file {
	display: none;
}

.submit {
	width: 100px;
	height: 32px;
	background: #669;
	border-radius: 4px;
	color: #fff;
	text-align: center;
	line-height: 32px;
    font-family: 'Ubuntu Condensed', sans-serif;
	font-size:14px;
	display: inline-block;
	vertical-align: top;
}

.submit:hover {
	background: #2980b9;
	cursor: pointer;
}

.upload_form img {
	cursor: pointer;
	width: 30px;
	height: 30px;
}

.upload_form div {
	cursor: pointer;
	width: 80px;
	height: 32px;
	padding-right: 20px;
	/*background: #3498db;*/
	border-radius: 4px;
	/*color: #fff;*/
	text-align: center;
	line-height: 32px;
    font-family: 'Ubuntu Condensed', sans-serif;
	font-size:14px;
	display: inline-block;
	vertical-align: top;
}

.upload_form {
	text-align: right;
	margin-top: 10px;
	padding-bottom: 5px;
}

/*.upload_form div:hover {*/
/*	background: #2980b9;*/
/*	cursor: pointer;*/
/*}*/

#f_name {
	background: transparent;
	border: 0;
	display: inline-block;
	vertical-align: top;
	height: 30px;
	padding: 0 8px;
	width: 100%;
	text-align: left;
	font-size: unset;
}

.post-file{
    text-align: right;
    padding-bottom: 20px;
    line-height:45px;/* высота строки блока */
}

.post-file div{
    text-align:center; /* выравниваем элементов по центре по горизонтали */
}
.post-file a{
    text-decoration: none;
    color: black;
    padding-right: 10px;
}
.post-file img{
    vertical-align:middle; /* выравниваем картинки по центре по вертикали */
}

