{% extends "user_control/base.html" %}

{% block content %}
    <form method="get">
        {% csrf_token %}
    {% if users.count > 0 %}
    <table style="width: 100%">
        <tr>
            <th>Логин</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Email</th>
            <th>Последний вход</th>
        </tr>
        {% for u in users %}
        <tr>
            <td>
                <a class="no_decoration"
                   {% if not u.is_superuser %}
                       href="/users/{{ u.username }}"
                   {% endif %}
                >{{ u.username }}</a>
            </td>
            <td>
                <a class="no_decoration"
                   {% if not u.is_superuser %}
                       href="/users/{{ u.username }}"
                   {% endif %}
                >{{ u.first_name }}</a>
            </td>
            <td>
                <a class="no_decoration"
                   {% if not u.is_superuser %}
                       href="/users/{{ u.username }}"
                   {% endif %}
                >{{ u.last_name }}</a>
            </td>
            <td>
                <a class="no_decoration"
                   {% if not u.is_superuser %}
                       href="/users/{{ u.username }}"
                   {% endif %}
                >{{ u.email }}</a>
            </td>
            <td>
                <a class="no_decoration"
                   {% if not u.is_superuser %}
                       href="/users/{{ u.username }}"
                   {% endif %}
                >{{ u.last_login }}</a>
            </td>

            {% if u.is_active %}
                <td style="color: green; ">Active</td>
            {% else %}
                <td style="color: firebrick">Deactive</td>
            {% endif %}

            {% if u.is_superuser %}
                <td style="color: blueviolet">SU</td>
            {% else %}
                <td style="color: #003399">U</td>
            {% endif %}

{#            <td><a class="no_decoration font20" href="users/edit/{{ u.id }}">✎</a>#}
{#                <a class="no_decoration" href="users/delete/{{ d.id }}">❌</a></td>#}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    </form>
{% endblock content %}