{% extends "user_control/base.html" %}
{% block header %}
{{ username}}
{% endblock header %}
{% block content %}
    <p style="padding: 10px" class="center_">
    Укажите, какие теги будут доступны пользователю
    </p>
    <form method="post" name="theForm">
    {% csrf_token %}
    <table style="width: 100%">

    {% for tag_id, tag in data.items %}
        <tr>
        <td style="text-align: left">
            <label class="container" style="font-family: 'Ubuntu Condensed', sans-serif; font-size: 20px;"
                               for="{{ tag_id }}">{{ tag.name }}
            <input type="checkbox" id="{{ tag_id }}" name="tag_id_{{ tag_id }}"
                {% if tag.checked %}
                    checked
                {% endif %}>
            <span class="checkmark"></span>
            </label>

        </td>
        </tr>
    {% endfor %}
    </table>
        <div style="padding-bottom: 50px">
            <div class="button-wrapper">
                <a class="arrow-btn" style="cursor: pointer" onclick="document.theForm.submit()">Подтвердить<span></span></a>
            </div>
        </div>
    </form>
{% endblock content %}