{% extends 'base.html' %}
{% load static %}

{% block title %}Создание заметки{% endblock %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/upload_file.css' %}" />

    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block main %}

    <form class="container" name="theForm" method="post" style="height: 100%" enctype="multipart/form-data">
        {% csrf_token %}

        {# КНОПКА ОПУБЛИКОВАТЬ #}
        <div class="button-wrapper">
            <a class="arrow-btn" onclick="document.theForm.submit()">Опубликовать<span></span></a>
        </div>
        <h4 style="color: darkred; text-align: center">{{ error }}</h4>

        <div style="text-align: right">
        {# СПИСОК ТЕГОВ #}
        <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#tags-in-offcanvas">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16">
              <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"></path>
              <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"></path>
            </svg>
            Теги
        </button>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="tags-in-offcanvas">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Включенные теги</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body m-3" style="text-align: left">
            <div>
              Выберите теги, которые будут включены при поиске
            </div>
                {% for t in tags %}
                <div class="py-1">
                    <input type="checkbox"
                           name="tags_checked" class="btn-check"
                           value="{{ t.name }}"
                           {% if t.checked %}checked{% endif %}
                           id="tag-in-{{ t.name }}" autocomplete="off">
                    <label class="btn btn-outline-success hstack" for="tag-in-{{ t.name }}">{{ t.name }}</label>
                </div>
                {% endfor %}
          </div>
        </div>
        </div>

        <div id="tag-start-tags_checked"></div> {# МЕСТО ДЛЯ ТЕГОВ #}

        {# ФАЙЛЫ #}
        <div class="upload_form">
            <label>
                <input id="files" name="files" type="file" class="main_input_file" multiple />
                <img src="{% static "/images/icons/clip.png" %}" alt="clip">
                <div>Прикрепить</div>
            </label>
        </div>
        {# СУЩЕСТВУЮЩИЕ ФАЙЛЫ #}
        <div class="post-file">
            {% for f in files %}
                <a id="file_{{ f.name }}">
                    <img src="{% static f.icon %}" width="40px" height="40px" alt="">
                    {{ f.name }}
                </a>
                <a onclick="delete_file('{{ f.name }}')">X</a>
                <input id="checkbox_{{ f.name }}" name="checkbox_{{ f.name }}" type="checkbox" hidden checked>
            {% endfor %}
        </div>
        <div id="file_list"></div>

        {# ХРАНЕНИЕ ID ЗАПИСИ #}
        <input type="text" name="post_id" value="{{ post.id }}" hidden readonly>

        {# TITLE #}
        <div class="bg-body text-body">
            {{ form.title }}
        </div>

        {# CONTENT #}
        <div class="bg-body text-body">
        {{ form.input }}
        </div>

    </form>

    {# РАБОТА С ОТОБРАЖЕНИЕМ ТЕГОВ #}
<script src="{% static 'js/tags_control.js' %}"></script>
<script src="{% static 'js/file_format.js' %}"></script>
<script src="{% static 'js/input_files_control.js' %}"></script>
<script>
$(document).ready ( function(){
    $(".django-ckeditor-widget").css({"width" : "100%"});
    $("#cke_id_input").css({"width" : ''});
});
</script>


{% endblock %}