<!DOCTYPE html>
{% load static %}
<html lang="ru">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tags.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkselect.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.cleditor.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/upload_file.css' %}" />

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.cleditor.min.js' %}"></script>


    <script type="text/javascript">
      $(document).ready(function() {
        editor = $("#input").cleditor({width:"100%", height:"100%"})[0].focus();
        $(window).resize();
      });
      $(window).resize(function() {
        var $win = $(window);
        $("#container").width($win.width() - 32).height($win.height() - 33).offset({left:15, top:15});
        editor.refresh();
      });
    </script>
    <meta charset="UTF-8">
    <title>Add Note</title>
</head>

<body>
    <ul class="menu-main" style="padding: 20px">
      <li><a href="/">Search</a></li>
      <li><a href="/create" class="current">Create Note</a></li>
      <li><a href="/tags">Tags</a></li>
      <li><a href="/accounts/logout">Logout</a></li>
    </ul>

    <form name="theForm" method="post" style="height: 100%" enctype="multipart/form-data">
        {% csrf_token %}

        {# КНОПКА ОПУБЛИКОВАТЬ #}
        <div class="button-wrapper">
            <a class="arrow-btn" onclick="document.theForm.submit()">Опубликовать<span></span></a>
        </div>
        <h4 style="color: darkred; text-align: center">{{ error }}</h4>

        {# СПИСОК ТЕГОВ #}
        <div style="text-align: right">
            <div class="checkselect">

            {% for t in tags %}
            <label style="float:left">
                <input type="checkbox" name="tags_checked" value="{{ t.tag }}" {% if t.checked %} checked {% endif %}>
                {{ t.tag }}
            </label>
            {% endfor %}
            </div>
        </div>

        <div id="tag-start-tags_checked"></div> {# МЕСТО ДЛЯ ТЕГОВ #}

        {# ФАЙЛЫ #}
        <div class="upload_form">
            <label>
                <input id="files" name="files" type="file" class="main_input_file" multiple />
                <img src="{% static "/images/icons/clip.png" %}" alt="clip">
                <div>Прикрепить</div>
            </label>
        </div>
        {# СУЩЕСТВУЮЩИЕ ФАЙЛЫ #}
        <div class="post-file">
            {% for f in files %}
                <a id="file_{{ f.name }}">
                    <img src="{% static f.icon %}" width="40px" height="40px" alt="">
                    {{ f.name }}
                </a>
                <a onclick="delete_file('{{ f.name }}')">X</a>
                <input id="checkbox_{{ f.name }}" name="checkbox_{{ f.name }}" type="checkbox" hidden checked>
            {% endfor %}
        </div>
        <div id="file_list"></div>

        {# ХРАНЕНИЕ ID ЗАПИСИ #}
        <input type="text" name="post_id" value="{{ post_id }}" style="display: none" readonly>

        {# TITLE #}
        <input type="text" name="title" required placeholder="Название заметки" value="{{ title }}">

        {# CONTENT #}
        <textarea id="input" name="input" required>{{ content }}</textarea>
    </form>

    {# РАБОТА С ОТОБРАЖЕНИЕМ ТЕГОВ #}
<script src="{% static 'js/tags_control.js' %}"></script>
<script>

function file_format(file_name) {
    if (file_name.endsWith('.docx') || file_name.endsWith('.doc') || file_name.endsWith('.rtf')){
        return 'docx'
    }
    if (file_name.endsWith('.xls') || file_name.endsWith('.xlsx') || file_name.endsWith('.xlsm')){
        return 'xlsx'
    }
    if (file_name.endsWith('.pdf')){
        return 'pdf'
    }
    if (file_name.endsWith('.xml')){
        return 'xml'
    }
    if (file_name.endsWith('.drawio')){
        return 'drawio'
    }
    if (file_name.endsWith('.txt')){
        return 'txt'
    }
    if (file_name.endsWith('.vsd') || file_name.endsWith('.vsdx')){
        return 'visio'
    }
    if (file_name.endsWith('.png') || file_name.endsWith('.jpeg') || file_name.endsWith('.jpg') || file_name.endsWith('.gif') || file_name.endsWith('.bpm')){
        return 'img'
    }
    if (file_name.endsWith('.rar') || file_name.endsWith('.7z') || file_name.endsWith('.zip') || file_name.endsWith('.tar') || file_name.endsWith('.iso')){
        return 'archive'
    }
    return 'file'
}

function delete_file(file_name){
    console.log(document.getElementById('file_' + file_name).style.backgroundColor)
    if (document.getElementById('file_' + file_name).style.backgroundColor === 'red'){
        document.getElementById('file_' + file_name).style.backgroundColor = 'white';
        document.getElementById('checkbox_' + file_name).checked = true;
    } else {
        document.getElementById('file_' + file_name).style.backgroundColor = 'red';
        document.getElementById('checkbox_' + file_name).checked = false;
    }
}

$(document).ready(function() {

    $(".main_input_file").change(function() {

        console.log('next')
        console.log($(this).get(0).files)
        var files_html_ = '<div class="post-file">'

        for (var i = 0; i < $(this).get(0).files.length; ++i) {
            files_html_ += `<a><img src="/static/images/icons/`+file_format($(this).get(0).files[i].name)+
                `.png" width="40px" height="40px" alt="">`+$(this).get(0).files[i].name+`</a>`
        }

        document.getElementById('file_list').innerHTML = files_html_ + '</div>'
    });
});

</script>
</body>
</html>