
<footer class="sticky-footer py-4">
    <hr>
    <div class="row">
      <div class="col py-2">
        <h5>Заметки</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{% url 'notes-list' %}">Поиск заметок</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{% url 'note-create' %}">Создать</a></li>

        </ul>
      </div>
      <div class="col py-2">
        <h5>Библиотека</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{% url 'books-list' %}">Просмотр</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{% url 'book-create' %}">Добавить</a></li>

        </ul>
      </div>
      <div class="col py-2">
        <h5>О программе</h5>
        <span class="text-muted">
            Taged - Тут вы можете хранить свои записи и книги. Гибкий поиск поможет вам их найти.
        </span>
      </div>
    </div>
    <div class="row">
        <div class="py-3 col d-flex align-items-center">
        <p class="text-center text-muted" style="margin: 0;">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16">
          <path d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z"></path>
          <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"></path>
        </svg>
        <span style="white-space: nowrap;">
            &copy; 2021-2023 <a class="text-muted text-decoration-none" href="/">Taged</a>.
        </span>
        </p>
        </div>

        <div class="py-4 col justify-content-end list-unstyled d-flex align-items-center">

            <span class="me-2" style="white-space: nowrap;">Powered by</span>
            <a class="me-2 text-decoration-none" href="https://www.elastic.co/elasticsearch/" target="_blank" title="Elasticsearch">
                <img style="vertical-align: middle" src="https://static-www.elastic.co/v3/assets/bltefdd0b53724fa2ce/blt36f2da8d650732a0/5d0823c3d8ff351753cbc99f/logo-elasticsearch-32-color.svg"
                    alt="elasticsearch" width="48" height="48"/>
            </a>

            <a class="me-2 text-dark" href="https://github.com/ig-rudenko/taged" target="_blank" title="GitHub">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" class="bi bi-github" viewBox="0 0 16 16">
                  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                </svg>
            </a>
        </div>
    </div>
  </footer>

<script>

$(function(){
    resizeAll();
    $(window).bind("resize", function(){
        resizeAll();
    });
});

$(window).bind('load', function() {resizeAll()});


function footerStickBottom (footer_block) {
    $(footer_block).css({'margin-top':0});
    let allWindowsHeight = $(window).height();
    let footerBottomOffset = $(footer_block).offset().top + $(footer_block).outerHeight();
    if (allWindowsHeight > footerBottomOffset) {
        let footerMarginTop = allWindowsHeight - footerBottomOffset;
        $(footer_block).css({'margin-top':footerMarginTop});
    }
}

function resizeAll() {
    footerStickBottom ('footer');
}
</script>