{% extends 'base.html' %}
{% load static math_operations l10n %}

{% block title %}Taged{% endblock %}


{% block links %}
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/autocomplete_title.js' %}"></script>
{% endblock %}



{% block main %}
<div class="container">

{# СТРОКА ПОИСКА #}
<form>
<div style="padding-top: 40px;">

    <div class="row d-flex justify-content-center">
        <div class="col-md-1" style="display: table">
            <img src="{% static image %}" width="110" height="108" style="vertical-align: middle">
        </div>
        <div class="col-md-7 d-flex" style="margin-top: 30px">
            <input id="search-input" type="text" name="search" placeholder="Искать здесь..." autofocus value="{{ request.GET.search }}">
            <button id="search-button" type="submit"></button>
        </div>
    </div>

    <br>

    <div class="row">
    {# ПОИСК ПО ТЕГАМ #}
    <div class="col-auto me-auto">
        <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#tags-in-offcanvas">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16">
              <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"></path>
              <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"></path>
            </svg>
            Добавить теги
        </button>

        <div class="offcanvas offcanvas-start container" tabindex="-1" id="tags-in-offcanvas">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Включенные теги</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body m-3">
            <div>
              Выберите теги, которые будут включены при поиске
            </div>
                {% for t in tags_in %}
                <div class="py-1">
                    <input type="checkbox"
                           name="tags-in" class="btn-check"
                           value="{{ t.name }}"
                           {% if t.checked %}checked{% endif %}
                           id="tag-in-{{ t.name }}" autocomplete="off">
                    <label class="btn btn-outline-success hstack" for="tag-in-{{ t.name }}">{{ t.name }}</label>
                </div>
                {% endfor %}
          </div>
        </div>
    </div>

    <div class="col-auto">
        <button class="btn btn-danger" type="button" data-bs-toggle="offcanvas" data-bs-target="#tags-off-offcanvas">
            Исключить теги
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16">
              <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"></path>
              <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"></path>
            </svg>
        </button>

        <div class="offcanvas offcanvas-end container" tabindex="-1" id="tags-off-offcanvas">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Исключенные теги</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body m-3">
            <div>
              Выберите теги, которые будут исключены при поиске
            </div>
                {% for t in tags_off %}
                <div class="py-1">
                    <input type="checkbox"
                           name="tags-off" class="btn-check"
                           value="{{ t.name }}"
                           {% if t.checked %}checked{% endif %}
                           id="tag-off-{{ t.name }}" autocomplete="off">
                    <label class="btn btn-outline-danger hstack" for="tag-off-{{ t.name }}">{{ t.name }}</label>
                </div>
                {% endfor %}
          </div>
        </div>
    </div>
    </div>
</div>
</form>

{#  Отображение выбранных тегов  #}
<div class="d-flex justify-content-between py-2">
    <div id="tags-in-output" class="d-flex"></div>
    <div id="tags-off-output" class="d-flex"></div>
</div>

<div class="last-post-text">
    Всего записей: {{ posts_count }}
</div>


{% include "pagination.html" with p=pagination %}


<div class="post-wrap">
    {% for post in data %}
        <div class="post-item">
            <div class="bg-body post-item-wrap {% if post.score > 0.48 %} post-item-wrap-main {% endif %}">

                <a class="post-link text-body"
                   {% if has_search %}
                       {% if post.score <= 0.4 and post.score > 0.2 %}
                           style="opacity: {{ post.score | mul:2 | unlocalize }}"
                       {% elif post.score <= 0.2 %}
                           style="opacity: 0.2"
                       {% endif %}
                   {% endif %}
                   id="{{ post.id }}"
                   href="{% url 'note-show' post.id %}">

                    {# Метка файлов #}
                        {% if post.files %}
                            <img class="post-title-img" src="{% static "/images/icons/clip3.png" %}" alt="clip">
                        {% endif %}

                    {# Заголовок #}
                        <h5 class="post-title">{{ post.title }}</h5>

                    {# Теги #}
                        {% for tag in post.tags %}
                            <span class="badge" style="background-color: #408dff">{{ tag }}</span>
                        {% endfor %}

                </a>
            <div id="content-{{ post.id }}" class="pre_post_hidden" style="width: 426.66px"></div>
            </div>
        </div>
    {% endfor %}
</div>

{% include "pagination.html" with p=paginator %}

</div>
<script src="{% static 'js/preview_post.js' %}"></script>
<script src="{% static 'js/show-checked-tags.js' %}"></script>
<script>

</script>
{% endblock %}