<style>
.active-link {
    background-color: #f58262;
    border-radius: 10px;
    display: block;
    padding: 0.7rem;
    text-decoration: none;
    color: black;
}
.active-link:hover {
    color: black;
}
.non-active-link {
    border-radius: 10px;
    display: block;
    padding: 0.7rem;
    text-decoration: none;
}
.non-active-link:hover {
    background-color: rgba(245, 130, 98, 0.7);
    text-decoration: none;
    color: black;
}
</style>

{% include 'svg-icons.html' %}

<nav class="container navbar navbar-expand-lg">
  <div class="container-fluid border-bottom py-3 mb-4">

    <a class="navbar-brand" href="/" style="padding-left: 20px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16">
          <path d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z"></path>
          <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"></path>
        </svg>
        <span class="fs-4">Taged</span>
    </a>

    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar" style="">
      <div class="me-auto"></div>
      <div class="text-center" role="search">

        <ul class="navbar-nav">

            <li class="nav-item">
                <a href="{% url 'notes-list' %}" class="{% if page_name == 'notes-list' %}active-link{% else %}non-active-link{% endif %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-journals" viewBox="0 0 16 16">
                  <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z"></path>
                  <path d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z"></path>
                </svg>
                Заметки
                </a>
            </li>

            {% if "note" in page_name %}
                <li class="nav-item">
                    <a href="{% url 'note-create' %}"
                       class="{% if page_name == 'note-create' %}active-link{% else %}non-active-link{% endif %}">
                        Создать заметку
                    </a>
                </li>
                {% if page_name == "note-edit" %}
                    <li class="nav-item">
                        <a class="active-link">
                            Редактирование заметки
                        </a>
                    </li>
                {% endif %}

                {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a href="{% url 'notes-tags' %}"
                       class="{% if page_name == 'notes-tags' %}active-link{% else %}non-active-link{% endif %}">
                        Теги
                    </a>
                </li>
                {% endif %}
            {% endif %}

            <li class="nav-item">
                <a href="{% url 'books-list' %}" aria-current="page"
                   class="{% if page_name == 'books-list' %}active-link{% else %}non-active-link{% endif %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                  <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"></path>
                </svg>
                Библиотека
                </a>
            </li>

            {% if "book" in page_name and request.user.is_superuser %}
                <li class="nav-item">
                    <a href="{% url 'book-create' %}"
                       class="{% if page_name == 'book-create' %}active-link{% else %}non-active-link{% endif %}">
                        Добавить книгу
                    </a>
                </li>
                {% if page_name == 'book-edit' %}
                <li class="nav-item">
                    <a class="active-link">
                        Редактирование книги
                    </a>
                </li>
                {% endif %}
            {% endif %}

            <li class="nav-item">
                <a href="{% url 'submit-logout' %}" class="non-active-link" aria-current="page">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"></path>
                  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
                </svg>
                Выйти</a>
            </li>


            <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
                <hr class="d-lg-none my-2 text-white-50">
            </li>

        
        <li class="nav-item dropdown" >
            <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="true" data-bs-toggle="dropdown" data-bs-display="static">
              <svg width="22" height="22" fill="currentColor" class="bi my-1 theme-icon-active"><use href="#moon-stars-fill"></use></svg>
            </button>

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme" style="--bs-dropdown-min-width: 8rem;" data-bs-popper="static">
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light">
                  <svg width="22" height="22" fill="currentColor" class="bi me-2 opacity-50 theme-icon"><use href="#sun-fill"></use></svg>
                  Light
                </button>
              </li>
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="dark">
                  <svg width="22" height="22" fill="currentColor" class="bi me-2 opacity-50 theme-icon"><use href="#moon-stars-fill"></use></svg>
                  Dark
                </button>
              </li>
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto">
                  <svg width="22" height="22" fill="currentColor" class="bi me-2 opacity-50 theme-icon"><use href="#circle-half"></use></svg>
                  Auto
                </button>
              </li>
            </ul>
          </li>


        </ul>
      </div>
    </div>
  </div>
</nav>