{% if p and p.max_pages > 1 %}
<style>
.page-item {
    cursor: pointer;
}
</style>

<nav class="text-center">
  <ul class="pagination justify-content-center">

    {% if p.page > 2 %}
        <li class="page-item">
          <a class="page-link" onclick="goToPage(1)">
              1 &lt;&lt; </a>
        </li>
    {% endif %}

    <li class="page-item {% if not p.has_previous %}disabled{% endif %}">
      <a class="page-link" onclick="goToPage({{ p.page|add:-1 }})">
          Назад</a>
    </li>

    {% if p.has_previous %}
    <li class="page-item"><a class="page-link" onclick="goToPage({{ p.page|add:-1 }})">
        {{ p.page|add:-1 }}</a></li>
    {% endif %}

    <li class="page-item active" aria-current="page">
      <a class="page-link">{{ p.page }}</a>
    </li>

    {% if p.has_next %}
    <li class="page-item"><a class="page-link" onclick="goToPage({{ p.page|add:1 }})">
        {{ p.page|add:1 }}</a></li>
    {% endif %}

    <li class="page-item {% if not p.has_next %}disabled{% endif %}">
      <a class="page-link" onclick="goToPage({{ p.page|add:1 }})">
          Вперёд</a>
    </li>

    {% if p.page|add:"3" < p.max_pages %}
        <li class="page-item">
          <a class="page-link" onclick="goToPage({{ p.max_pages }})">
              &gt;&gt; {{ p.max_pages }}</a>
        </li>
    {% endif %}

  </ul>
</nav>

<script>
function goToPage(page) {
    let url = new URL(window.location.href)
    url.searchParams.set("page", page)
    window.location = url.href
}
</script>

{% endif %}