<!DOCTYPE html>
{% load static %}
<html lang="ru">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/upload_file.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/show_post.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tags.css' %}">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    {# Меню #}
    <ul class="menu-main" style="padding-top: 20px">
      <li><a href="/">Поиск</a></li>
      <li><a href="/create">Создать Заметку</a></li>
      <li><a href="/books">Библиотека</a></li>
        {% if superuser %}
        <li><a href="/tags">Теги</a></li>
        <li><a href="/users">Пользователи</a></li>
        {% endif %}
      <li><a href="/logout">Выйти</a></li>
    </ul>

<div class="container">
    <div class="post">
        <div class="post-content">

            {# ЗАГОЛОВОК #}
            <div class="post-header" style="font-family: 'Montserrat', sans-serif;">
                <h1>{{ title }}</h1>
                <div class="post-meta">
                    <time datetime="">{{ published_at }}</time>
                    <br>
                <a href="/edit/{{ post_id }}" style="color: #03a2ff">редактировать</a>
                    <time></time>

{#                    УДАЛИТЬ #}
                    <form name="delete_form" method="post" action="/delete/{{ post_id }}">
                        {% csrf_token %}
                        <a style="color: #ff6363; cursor: pointer" onclick="delete_post()">удалить</a>
                    </form>

                </div>
            </div>

            {# ТЕГИ #}
            <div style="padding-bottom: 8px">
                {% for tag in tags %}
                    <span class="tag-in">{{ tag }}</span>
                {% endfor %}
            </div>

            {# ФАЙЛЫ #}
            <div class="post-file">
            {% for f in files %}
                <a href="/download/{{ post_id }}/{{ f.name }}">
                    <img src="{% static f.icon %}" width="40px" height="40px" alt="">
                    {{ f.name }}
                </a>
            {% endfor %}
            </div>

            {# СОДЕРЖАНИЕ #}
            <div style="color: black; font-family: 'Teams', sans-serif">
                {{ content|safe }}
            </div>
        </div>
    </div>
</div>

<script>
function delete_post() {
    if (confirm("Вы согласны удалить запись {{ title }} ?")) {
        document.delete_form.submit();
    }
}
</script>

</body>
</html>