<!DOCTYPE html>
{% load static %}
<html lang="ru">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/show_post.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tags.css' %}">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    {# Меню #}
    <ul class="menu-main" style="padding-top: 20px">
      <li><a href="/" class="current">Search</a></li>
        {% if superuser %}
      <li><a href="/create">Create Note</a></li>
      <li><a href="/tags">Tags</a></li>
        {% endif %}
      <li><a href="/accounts/logout">Logout</a></li>
    </ul>

<div class="container">
    <div class="post">
        <div class="post-content">

            {# ЗАГОЛОВОК #}
            <div class="post-header" style="font-family: 'Montserrat', sans-serif;">
                <h1>{{ title }}</h1>
                <div class="post-meta">
                    <time datetime="">{{ published_at }}</time>
                    <br>
                {% if superuser %}
                <a href="/edit/{{ post_id }}" style="color: #03a2ff">редактировать</a>
                    <time></time>
                <a style="color: #ff6363; cursor: pointer" onclick="delete_post('{{ post_id }}', '{{ title }}')">удалить</a>
                {% endif %}

                </div>
            </div>

            {# ТЕГИ #}
            <div style="padding-bottom: 30px">
                {% for tag in tags %}
                    <span class="tag-in">{{ tag }}</span>
                {% endfor %}
            </div>

            {# СОДЕРЖАНИЕ #}
            <div style="color: black; font-family: 'Teams', sans-serif">
                {{ content|safe }}
            </div>
        </div>
    </div>
</div>

<script>
function delete_post(id, name) {
    if (confirm("Вы согласны удалить запись \"" + name + "\" ?")) {
        window.location.href = "/delete/" + id
    }
}
</script>

</body>
</html>