{% extends 'base.html' %}
{% load static humanize %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/upload_file.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/show_post.css' %}">
<script src="{% static 'js/jquery.min.js' %}"></script>
{% endblock %}


{% block title %}{{ post.title }}{% endblock %}


{% block main %}
<div class="container">
    <div class="post">

        {# ЗАГОЛОВОК #}
        <div class="post-header" style="font-family: 'Montserrat', sans-serif;">
            <h1>{{ post.title }}</h1>
            <div class="post-meta">
                <time>{{ post.published_at | naturaltime }}</time>
                <br>

{#                    Редактировать  #}
            <a href="{% url 'note-edit' post.id %}" style="color: #03a2ff">редактировать</a>
                <time></time>

{#                    Клонировать    #}
            <a href="{% url 'note-create' %}?cl={{ post.id }}" style="color: #48af70">клонировать</a>
                <time></time>

{#                      УДАЛИТЬ #}
            <a style="color: #ff6363; cursor: pointer" data-bs-toggle="modal" data-bs-target="#deleteModal">
              удалить
            </a>

            <!-- Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Удалить данную заметку?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Не удалять</button>
                    <form name="delete_form" method="post" action="{% url 'note-delete' post.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            </div>
        </div>

        {# ТЕГИ #}
        <div style="padding-bottom: 8px">
            {% for tag in post.tags_list %}
                <a href="{% url 'notes-list' %}?tags_in={{ tag }}"
                   class="tag-in text-decoration-none" style="cursor: pointer">
                    {{ tag }}
                </a>
            {% endfor %}
        </div>

        {# ФАЙЛЫ #}
        <div class="post-file">
        {% for f in files %}
            <a href="{% url 'download-file' post.id f.name %}">
                <img src="{% static f.icon %}" alt="">
                {{ f.name }}
            </a>
        {% endfor %}
        </div>
        <hr><br>
        {# СОДЕРЖАНИЕ #}
        <div id="post-content">
            <div class="text-center">
                <div style="padding: 30px" class="spinner-border" role="status"></div>
            </div>
        </div>

    </div>
</div>

<script>
$.ajax({
    url: "/ajax/extend_post/{{ post.id }}",
    success: function( data ) {
        if (data.content.length) {
            $('#post-content').html(data.content)
        } else {
            $('#post-content').html('<h1>Не удалось загрузить содержимое</h1>')
        }
    }
});
</script>

{% endblock %}