{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/buttons.css' %}">
{% endblock %}

{% block title %}Перечень тегов{% endblock %}

{% block main %}
    <div class="container" style="text-align: center; max-width: unset">
        <div class="post">
            <div>
            <form method="post" style="padding-bottom: 30px">
                {% csrf_token %}
                <label>
                    <input class="bg-body text-body" autofocus placeholder="Имя нового тега" type="text" name="new_tag">
                </label>
                <input class="atuin-btn" type="submit" value="Создать">
            </form>

            <div class="container">
                {% for t in tags %}
                    <div class="tag-in">{{ t.tag_name }}</div>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>

{% endblock %}