{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/buttons.css' %}">
{% endblock %}

{% block title %}Перечень тегов{% endblock %}

{% block main %}
    <div class="container" style="text-align: center; max-width: unset">
        <div class="post">
            <div>
            <form method="post" style="padding-bottom: 30px">
                {% csrf_token %}
                <label>
                    <input class="bg-body text-body" autofocus placeholder="Имя нового тега" type="text" name="new_tag">
                </label>
                <input class="atuin-btn" type="submit" value="Создать">
            </form>

            {% for t in tags %}

                <a class="tag-in" onclick="delete_tag('{{ t.id }}', '{{ t.tag_name }}')">{{ t.tag_name }}</a>

            {% endfor %}
            </div>
        </div>
    </div>

<script>
const CSRF_TOKEN = document.querySelector("input[name='csrfmiddlewaretoken']").value

function delete_tag(id, name) {
    if (confirm("Вы согласны удалить тег \"" + name + "\" ?")) {
        fetch(
            "/notes/tag/" + id + "/delete",
            {
                method: "post",
                credentials: "include",
                headers: {"X-CSRFToken": CSRF_TOKEN}
            }
        ).then(resp => {window.location.reload();})
    }
}
</script>
{% endblock %}